/* User popout */
[class*=accountProfilePopoutWrapper-] [class*=userPopoutInner-]>:not(:last-child),
[class*=accountProfilePopoutWrapper-] [class*=userPopoutOverlayBackground-]>:not(#account),
[class*=accountProfilePopoutWrapper-] [class*=separator]
{
    display: none;
}
[class*=accountProfilePopoutWrapper-] [class*=userPopoutOverlayBackground-] {
    margin: 0;
}
[class*=accountProfilePopoutWrapper-] {
    border-radius: 8px
}
[class*=accountProfilePopoutWrapper-] [class*=userPopoutOuter-] {
    width: 300px !important;
}
